.Hero-image{
    height: 264px;
    background-image: linear-gradient(0deg, #e25500 0%, #ffae22 100%);
    .hero-text{
        @include container;
        h1{
            padding-top: 10%;
            color: $white;
        }
        p{
        }
          
    }
}